.backtrace-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 90%;
}

.backtrace-table th, .backtrace-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.backtrace-table th {
    background-color: #f2f2f2;
}

.text-muted {
    color: #808080;
}

.text-center {
    text-align: center;
}